body {

}

header {

}

footer {

}

button {

}

#sectionSlider {
	width: 1163px;
	height:756px;

}

#sectionImages {
	width: 1163px;

	
}

#sectionYearly {
	width: 1163px;

	
}

#sectionSuscription {
	width: 1163px;

	
}